/*Landing page styling*/

/*Banner styling and background */
.banner-area {

    background-image: url(../Images/london2.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 15px 60px;
}

/*Logo styling*/
.logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Georgia;
    padding: 20px 0;
    width: 20%;
    float: left;
}

/*Middle banner text*/
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
    text-align: center;
    font-family: Georgia;
}

/*Banner-text*/
.banner-text h2 {
    font-family: Georgia;
    margin: 0;
    font-size: 60px;
    color: aqua;

}

/*Banner paragraph*/
.banner-text p {
    font-family: Georgia;
    margin: 0;
    font-size: 30px;
    color: aqua;

}

/*Bottom buttons*/
.banner-text a {
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 35px;
    font-size: 18px;
    color: aqua;
    display: inline-block;
    margin-top: 5%;
    font-family: Georgia;
    text-transform: uppercase;

}

/*When cursor hovers over bottom boxes*/
.banner-text a:hover {
    border-color: aqua;
    background: black;
    transition: .8s;
    color: white;
}